main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #FFFFFF;
        margin-bottom: 20px;

        span {
            margin: 3px;
        }

        a {
            position: absolute;
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
        }
    }
}
