main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
                
            label {
                margin-right: 30px;
                text-transform: initial;
            }

            input {
                width: 200px;
                border-radius: 5px;
                outline: none;

                &:focus {
                    box-shadow: 0 0 2px 1px rgba(25, 118, 210, .5);
                    
                }
            }

            div {
                margin: 10px 0;

                .error {
                    font-size: 12px;
                    color: rgb(233, 27, 27);
                }
            }
        }
    }
}
