/* You can add global styles to this file, and also import other style files */
p {
    font-family: "Lato";
  }
  /* Global Styles */
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  router-outlet + * {
    padding: 0 16px;
  }
  /* Text */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  h1,
  h2 {
    font-weight: lighter;
  }
  p {
    font-size: 14px;
  }
  /* Hyperlink */
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Input */
  input {
    font-size: 14px;
    margin-bottom: 16px;
  }
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  /* Button */
  .button,
  button {
    display: inline-flex;
    align-items: center;
    border-radius: 2px;
  }
  
 
  /* Fancy Button */
  .fancy-button {
    background-color: white;
  }
  
  /* Top Bar */
  app-top-bar {
    width: 100%;
    height: 68px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: white;
      margin: 0;
    }
  }
  /* Checkout Cart, Shipping Prices */
  .cart-item,
  .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #eeeeee;
  }
